<div class="live_manager_live_list">
    <div v-if="isList">
        <el-form :inline="true" :model="queryFrom" class="form_query">
            <el-form-item label="直播标题">
                <el-input v-model="queryFrom.liveTitle" placeholder="直播标题"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="query">查询</el-button>
            </el-form-item>
        </el-form>
        <el-row class="operation_wrap">
            <el-button @click="add">新增</el-button>
            <el-button>删除</el-button>
            <el-button>刷新</el-button>
        </el-row>
    
        <!-- <el-table ref="liveListTable" :data="listData" tooltip-effect="dark" @selection-change="handleSelectionChange"> -->
        <el-table ref="liveListTable" :data="getterPlayerList" tooltip-effect="dark" @selection-change="handleSelectionChange">
            <el-table-column type="selection" width="55"></el-table-column>
            <el-table-column prop="title" label="直播标题" show-overflow-tooltip></el-table-column>
            <el-table-column prop="startTime" label="直播开始时间" show-overflow-tooltip></el-table-column>
            <el-table-column prop="endTime" label="直播结束时间" show-overflow-tooltip></el-table-column>
            <el-table-column prop="intro" label="简介" show-overflow-tooltip></el-table-column>
            <el-table-column prop="isLive" label="直播" show-overflow-tooltip>
                <template slot-scope="scope">
                    <span> {{ scope.row.isLive ? '是' : '否' }} </span>
                </template>
            </el-table-column>
            <el-table-column prop="isScene" label="现场" show-overflow-tooltip>
                <template slot-scope="scope">
                    <span> {{ scope.row.isScene ? '是' : '否' }} </span>
                </template>
            </el-table-column>
            <el-table-column prop="viewersNum" label="观看人数" show-overflow-tooltip></el-table-column>
            <el-table-column label="比赛选手" show-overflow-tooltip>
                <template slot-scope="scope">
                    <span> {{ scope.row.player1.name }} </span>
                    <span> VS </span>
                    <span> {{ scope.row.player2.name }} </span>
                </template>
            </el-table-column>
    
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                    <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                </template>
              </el-table-column>
        </el-table>
    </div>

    <!-- 新增/编辑 -->
    <div class="add_edit_wrap" v-else>
        <el-page-header @back="goBack" content="详情页面"></el-page-header>
        <div class="form_wrap">
            <el-form ref="addEditForm" :model="addEditForm" label-width="100px">
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="直播标题">
                            <el-input v-model="addEditForm.title" placeholder="直播标题"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="观看人数">
                            <el-input v-model="addEditForm.viewersNum" disabled></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="直播开始时间">
                            <el-date-picker v-model="addEditForm.startTime" type="datetime" value-format="yyyy-MM-dd HH:mm:ss" placeholder="选择直播开始时间"></el-date-picker>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="直播结束时间">
                            <el-date-picker v-model="addEditForm.endTime" type="datetime" value-format="yyyy-MM-dd HH:mm:ss" placeholder="选择直播结束时间"></el-date-picker>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="直播">
                            <el-radio-group v-model="addEditForm.isLive">
                                <el-radio :label="1">是</el-radio>
                                <el-radio :label="0">否</el-radio>
                            </el-radio-group>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="现场">
                            <el-radio-group v-model="addEditForm.isScene">
                                <el-radio :label="1">是</el-radio>
                                <el-radio :label="0">否</el-radio>
                            </el-radio-group>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="选手1">
                            <el-select v-model="addEditForm.player1.id" placeholder="请选择">
                                <el-option v-for="item in getterPlayerList" :key="item.id" :label="item.name" :value="item.id"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="选手2">
                            <el-select v-model="addEditForm.player2.id" placeholder="请选择">
                                <el-option v-for="item in getterPlayerList" :key="item.id" :label="item.name" :value="item.id"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="24">
                        <el-form-item label="简介">
                            <el-input v-model="addEditForm.intro" type="textarea" :autosize="{ minRows: 4, maxRows: 10}" placeholder="请输入直播简介"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-form-item>
                    <el-button type="primary" @click="save">保存</el-button>
                    <el-button @click="goBack">取消</el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>

</div>